<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PL/0 Lexical</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid" id="app">
        <div class="row col-md-12 mt-2">
            repo: <a href="https://github.com/wuyudi/PL0-Lexical" target="_blank">https://github.com/wuyudi/PL0-Lexical
            </a>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12">
                    输入 PL/0 代码
                </div>
                <div class="col-md-12">
                    <textarea class="form-control" id="input" v-model="file" style="height:300px">{{file}}</textarea>
                </div>
                <div class="col-md-12">
                    <button @click="demo" class="btn btn-success mt-2"> demo </button>
                    <button @click="clear" class="btn btn-success mt-2"> clear </button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    输入关键词 , 用回车分隔
                </div>
                <div class="col-md-12">
                    <textarea class="form-control" id="kw" v-model="kw" style="height:300px">{{kw}}</textarea>
                </div>
                <div class="col-md-12">
                    <button @click="keywordsInit" class="btn btn-success mt-2"> keywordsInit </button>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="col-md-12 mt-2 table ">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">行数</th>
                        <th scope="col">名</th>
                        <th scope="col">类型</th>
                        <th scope="col">值</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in lexer(this.file,kw)">
                        <th scope="row">{{item[0]}}</th>
                        <td v-for="td in item.splice(1)">{{td}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="./Lexical.js"></script>

<script>
    new Vue({
        el: '#app',
        data: {
            file: "",
            kw: `begin
call
const
do
end
if
odd
procedure
read
then
var
while
write`,
        },
        methods: {
            demo() {
                this.file = `const c1=2,c2=4;
var x,num,sum;
procedure func1;
var y;
y:=c1;
begin
sum:=0;
read(x);
num:=10-x/c2;
if num<-2 then
    x:=-c1;
if num>2+2*c2 then
    x:=8-c2;
    while x<num do
        begin
            sum:=sum+x*x;
            x:=x+2;
        end;
    call func1;
    sum:=-10*c2/(2*sum+num);
    write(num,sum);
    ;
end.`;
            },
            clear() {
                this.file = ``;
            },
            keywordsInit() {
                this.kw = `begin
call
const
do
end
if
odd
procedure
read
then
var
while
write`
            }
        }
    }
    )
</script>

</html>
